* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

:root {
	--website-background: #131422;
	--font-color: #9aaac1;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	background-color: var(--website-background);
	color: var(--font-color);
}

nav {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 100%;
	/* background-color: #fff; */
	/* display: none; */
}

#header {
	font-size: 60px;
	transition: 0.3s;
	backdrop-filter: blur(5px);
}
.burger-btn {
	flex-direction: column;
	position: absolute;
	display: flex;
	right: 0;
	top: 0;
	padding: 20px 24px;
	background-color: var(--font-color);
	border: none;
	z-index: 100;
	cursor: pointer;
	transition: all 0.3s;
}

.fa-angle-left {
	font-size: 20px;
	color: var(--website-background);
}

.btn-rotate {
	transform: rotate(-180deg);
	background-color: #808ea1;
	border-radius: 50%;
}

.navigation-list {
	position: fixed;
	display: flex;
	flex-direction: column;
	width: 50vw;
	height: 100vh;
	text-align: center;
	justify-content: space-around;
	color: var(--website-background);
	list-style: none;
	background-color: var(--font-color);
	right: -50vw;
	transition: 0.3s;
	z-index: 99;
	overflow: hidden;
}

.show-navigation-list {
	transform: translateX(-50vw);
}

.header-scale {
	transform: scale(0.2) translate(-200%, -200%);

}

.nav-item {
	padding: 30px 10px;
	font-size: 20px;
	width: 100%;
	border: none;
	background-color: var(--font-color);
	/* background: none; */
	text-decoration: none;
	font-style: none;
	cursor: pointer;
	transition: 0.5s;
}

.nav-item:hover {
	transform: scale(1.2);
}

.nav-item a {
	text-decoration: none;
	color: var(--website-background);
}

/* .nav-item a:hover {
} */

main {
	display: flex;
	margin-top: 300px;
	/* display: none; */
}
section {
	height: 300px;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
