* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

:root {
	--website-background: #2b2d42;
	--font-color: #9aaac1;
	/* --btn-color: #e7a94b; */
}

@media (min-width: 375px) {
	body {
		display: flex;
		font-family: 'Raleway', sans-serif;
		background-color: var(--website-background);
		color: var(--font-color);
	}

	nav {
		position: absolute;
		display: flex;
		flex-direction: column;
		right: 0;
	}

	.burger-btn {
		position: absolute;
		flex-direction: column;
		/* display: flex; */
		display: none;
		right: 5px;
		top: 5px;
		padding: 20px 22px;
		background-color: var(--font-color);
		border: none;
		border-radius: 50%;
	}

	.fa-angle-left {
		font-size: 20px;
		color: var(--website-background);
	}

	.navigation-list {
		padding: 10px;
		color: var(--website-background);
		list-style: none;
		background-color: var(--font-color);
	}
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
