* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

:root {
	--website-background: #131422;
	--font-color: #9aaac1;
}

body {
	display: flex;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	background-color: var(--website-background);
	color: var(--font-color);
}

nav {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 0;
}

.burger-btn {
	flex-direction: column;
	position: fixed;
	display: flex;
	right: 0;
	top: 0;
	padding: 20px 24px;
	background-color: var(--font-color);
	border: none;
	z-index: 100;
	cursor: pointer;
}

.fa-angle-left {
	font-size: 20px;
	color: var(--website-background);
	transition: transform 0.3s;
}

.btn-rotate {
	transform: rotate(180deg);
}

.navigation-list {
	position: fixed;
	display: none;
	flex-direction: column;
	width: 160px;
	height: 360px;
	text-align: center;
	justify-content: space-around;
	color: var(--website-background);
	list-style: none;
	background-color: var(--font-color);
	right: -300px;
	top: 56px;
	z-index: 99;
}

.show-navigation-list {
	display: flex;
	transform: translateX(-300px);
}
.nav-item {
	padding: 20px 10px;
	font-size: 20px;
	width: 100%;
	border: none;
	background-color: var(--font-color);
	text-decoration: none;
	font-style: none;
	cursor: pointer;
	transition: 0.5s;
}

.nav-item a {
	text-decoration: none;
	color: var(--website-background);
}

header h1 {
	font-size: 90px;
}

section {
	height: 300px;
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
